@use "../../styles/partials/variables" as vars;

.digital {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: vars.$between-clocks;
  height: vars.$clock-diameter * 0.283;
  padding: 0 vars.$clock-diameter * 0.067;
  background-color: vars.$noir-theme;

  font-family: vars.$digital-clock;
  font-size: vars.$clock-diameter * 0.267;
  color: vars.$display-digit;

  &_numbers,
  &_colons {
    margin-top: vars.$clock-diameter * 0.03;
  }
}
