@use "../../styles/partials/variables" as vars;

.analog {
  width: vars.$clock-diameter;
  height: vars.$clock-diameter;
  
  background: linear-gradient(
    to top,
    vars.$grey-theme,
    vars.$grey-theme 35%,
    vars.$noir-theme 35%,
    vars.$noir-theme
  );
  border-radius: 50%;
  box-shadow: -11px 11px 14px vars.$shadow-theme;
  position: relative;
}
